<launch>
    <include file="$(find keyboard_control_ardrone)/launch/keyboard_control_ardrone.launch">
    </include>
	<node pkg="aruco_positioning" type="aruco_positioning.py" name="aruco_positioning" output="screen"/>
    <node pkg="aruco_positioning" type="controller.py" name="controller" output="screen"/>
    <node pkg="aruco_positioning" type="center.py" name="center" output="screen"/>
    <!-- <node name="record_topics_for_verification_KKK" pkg="rosbag" type="record" output="screen"
        args="-a -o data1"/>  -->
</launch>